<ul>
  <%@current_user.pets.each do |pet| %>
    <%pet.offers.each do |offer| %>
    <li><p>start date: <%= offer.starting_date %></p>
      <p>end date: <%= offer.end_date %></p>
      <p>offer id: <%= offer.id %></p>
      <p>pet id: <%= offer.pet.id %></p>
      <p>start date: <%= offer.starting_date %></p>
      <p>Pet: <%= offer.pet.name %></p>
      <p>Accepted: <%= offer.accepted? %></p>
      <%  unless offer.accepted?%>
      <%= link_to 'Accept offer', pet_accepted_path(offer.pet,offer)%>
      <%end %>
    </li>
  <%end %>
  <%end %>
</ul>
