
<div class='container shadow p-3 mb-5 bg-white rounded'>
  <ul>
    <%@current_user.offers.each do |offer| %>
    <li>
      <div class='card-offer-made'>
        <p>Start date: <%= offer.starting_date %> <br>
          End date: <%= offer.end_date %><br>
          Pet: <%= offer.pet.name %> <br>
          Accepted: <%= offer.accepted %></p>
      </div>
    </li>
    <%end %>
  </ul>
</div>
<div class="container ">
<%= link_to 'Back to profile',profile_path(current_user) , class: "btn-primary go-back" %>
</div>
