<div class="container">
  <ul>
    <%@current_user.pets.each do |pet| %>
      <%pet.offers.each do |offer| %>
      <li>
        <div class='card-offer-made'>
          <p>start date: <%= offer.starting_date %> <br>
          end date: <%= offer.end_date %><br>
          Pet: <%= offer.pet.name %><br>
          Accepted: <%= offer.accepted %><br>
          <%  if offer.accepted != 'accepted'%>
            <%= link_to 'Accept offer', pet_accepted_path(offer.pet,offer),class:"btn btn-success"%>
          <%end %>
          <%  if offer.accepted != 'rejected'%>
            <%= link_to 'Reject offer', pet_rejected_path(offer.pet,offer),class:"btn btn-danger"%>
          <%end %>
        </div>

        </li>
      <%end %>
    <%end %>
  </ul>
</div>
<div class="container ">
<%= link_to 'Back to profile',profile_path(current_user) , class: "btn-primary go-back" %>

</div>
