
<div  class='w-50 form shadow p-3 mb-5 bg-white rounded'>
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :address%>
    <%= f.input :description%>
    <%= f.input :category%>
    <%= f.input :price_per_hour%>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Update pet", class: "style-btn-form" %>
  <% end %>
</div>
