<%= link_to 'Make offer',new_pet_offer_path(@pet)%>

<div class="container">
  <h1><%= @pet.name %> <br></h1>
  <%if @pet.photo.key %>
<%= cl_image_tag @pet.photo.key, height: 300, crop: :fill %></div>
  <%end %>
<div class="container">
  <h1><%= @pet.category %></h1>
  <h2>Description :</h2>
  <p> <%= @pet.description %> </p>
</div>

<div class="container">
  <h1><%= @pet.category %> <br></h1>
</div>

<div class="container">
  <h1><%= @pet.price_per_hour %> €/H</h1>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 30 %>
    </div>
  </div>
</div>





<%= link_to "go back to all the pets", pet_path %> <br>
