<div  class='w-50 form'>

  <div class="container shadow p-3 mb-5 rounded ", style="background-color:#f9e5de" id="background-color" >
    <h3 class="text-center"><%= @pet.name.upcase %> <br><br></h3>
    <%if @pet.photo.attached? %>
      <div class="d-flex justify-content-center" >
        <%= cl_image_tag @pet.photo.key, height: 200, width: 200, crop: :fill, :style => "border-radius: 50%" %>
      </div>

    <%end %> <br>
    <div class='shadow bg-white rounded p-3 mb-1'>
      <h4>Category:</h4> <p><%= @pet.category %></p>
    </div>
    <div class='shadow bg-white rounded p-3 mb-1'>

       <h4>Description :</h4> <p> <%= @pet.description %> </p>

    </div>
    <div class='shadow bg-white rounded p-3 mb-1'>
      <h4>Price:</h4> <p><%= @pet.price_per_hour %> €/H</p>
    </div><br><br>
      <% unless @pet.user == current_user %>
    <div class='shadow bg-white rounded p-3'>
      <h4>Make your offer</h4><br>
      <%= simple_form_for [ @pet, @offer ] do |f| %>
        <%= f.input :starting_date, as: :date, html5: true, input_html: { class: 'text-secondary' }%>
        <%= f.input :end_date, as: :date, html5: true, input_html: { class: 'text-secondary' }%>
        <%= f.submit "Submit offer", class: "submit-btn" %>
      <% end %>
    </div>
      <% end %>



<br><br>
    <div class='shadow bg-white rounded p-3' style="color:#6d6c6c">
     <div class="reviews">
      <h4><%= pluralize @pet.reviews.size, "review" %></h4><br>
        <% if @pet.reviews.blank? %>
    Be the first to leave a review for <%= @pet.name %>
        <% else %>
        <div>
          <% @pet.reviews.each do |review| %>
            <h5 class="user"><%= current_user.email %></h5>
            <p><%= review.comment %></p>
            <p class="pet-review pb-2"><%= review.rating %></p><br>

          <% end %>
        </div>
      <% end %>
      </div>
      <br>
      <div class="leave-a-review">
      <%= simple_form_for([ @pet, @review ]) do |f| %>
        <%= f.input :comment, as: :text %>
        <%= f.input :rating, as: :integer, input_html: {min: 1, max: 5} %>
        <%= f.button :submit, class: "submit-btn" %>
      <% end %>
      </div>
    </div>




      <br><%= link_to "go back to all the pets", pets_path ,class:'go-back-btn'%> <br>
    </div>
  </div><br>
