
<div  class='w-50 form'>
  <div class="container shadow p-3 mb-5 bg-white rounded">
    <h1><%= @pet.name %> <br></h1>
    <%if @pet.photo.key %>
      <%= cl_image_tag @pet.photo.key, height: 300, crop: :fill %>
    <%end %>
    <p><strong>Category :</strong> <%= @pet.category %></p>
    <p> <strong>Description :</strong>  <%= @pet.description %> </p>
    <p><%= @pet.price_per_hour %> €/H</p>
  </div><br>
  <div class="container shadow p-3 mb-5 bg-white rounded">

    <h3>Make your offer</h3><br>
      <%= simple_form_for [ @pet, @offer ] do |f| %>
        <%= f.input :starting_date, as: :date, html5: true%>
        <%= f.input :end_date, as: :date, html5: true%>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "go back to all the pets", pets_path ,class:'btn btn-primary'%> <br>
    </div>
</div>
