<div  class='w-50 form'>

  <div class="container shadow p-3 mb-5 rounded " id="background-color" >
    <h3 class="text-center"><%= @pet.name.upcase %> <br><br></h3>
    <%if @pet.photo.key %>
      <div class="pet-img", style="background-color:transparent;" >
      <%= cl_image_tag @pet.photo.key, height: 200, width: 200, radius: 100, crop: :fill %>
      </div>

    <%end %> <br>
    <div class='shadow bg-white rounded p-3 mb-1'>
      <h5>Category:</h5> <p><%= @pet.category %></p>
    </div>
    <div class='shadow bg-white rounded p-3 mb-1'>

       <h5>Description :</h5> <p> <%= @pet.description %> </p>

    </div>
    <div class='shadow bg-white rounded p-3 mb-1'>
      <h5>Price:</h5> <p><%= @pet.price_per_hour %> €/H</p>
    </div><br><br>
    <div class='shadow bg-white rounded p-3'>
      <h5>Make your offer</h5><br>
      <%= simple_form_for [ @pet, @offer ] do |f| %>
        <%= f.input :starting_date, as: :date, html5: true%>
        <%= f.input :end_date, as: :date, html5: true%>
        <%= f.submit "Submit offer", class: "submit-btn" %>
      <% end %>
    </div>

      <br><%= link_to "go back to all the pets", pets_path ,class:'go-back-btn'%> <br>
    </div>
  </div><br>


</div>
