<div  class='w-50 form'>

  <div class="container shadow p-3 mb-5 rounded ", style="background-color:#f9e5de" id="background-color" >
    <h3 class="text-center"><%= @pet.name.upcase %> <br><br></h3>
    <%if @pet.photo.key %>
      <div class="d-flex justify-content-center" >
        <%= cl_image_tag @pet.photo.key, height: 200, width: 200, crop: :fill, :style => "border-radius: 50%" %>
      </div>

    <%end %> <br>
    <div class='shadow bg-white rounded p-3 mb-1'>
      <h4>Category:</h4> <p><%= @pet.category %></p>
    </div>
    <div class='shadow bg-white rounded p-3 mb-1'>

       <h4>Description :</h4> <p> <%= @pet.description %> </p>

    </div>
    <div class='shadow bg-white rounded p-3 mb-1'>
      <h4>Price:</h4> <p><%= @pet.price_per_hour %> €/H</p>
    </div><br><br>
    <div class='shadow bg-white rounded p-3'>
      <h4>Make your offer</h4><br>
      <%= simple_form_for [ @pet, @offer ] do |f| %>
        <%= f.input :starting_date, as: :date, html5: true, input_html: { class: 'text-secondary' }%>
        <%= f.input :end_date, as: :date, html5: true, input_html: { class: 'text-secondary' }%>
        <%= f.submit "Submit offer", class: "submit-btn" %>
      <% end %>
    </div>

      <br><%= link_to "go back to all the pets", pets_path ,class:'go-back-btn'%> <br>
    </div>
  </div><br>


</div>
