
<div  class='w-50 form shadow p-3 mb-5 rounded' style="background-color:#f9e5de">
  <% if @offer.errors.any? %>
    <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= @offer.errors.messages[:total][0] %></li>
      <% end %>
      </ul>
    <% end %>
  <%= simple_form_for [ @pet, @offer ] do |f| %>
    <%= f.input :starting_date, as: :date, html5: true%>
    <%= f.input :end_date, as: :date, html5: true%>

    <%= f.submit "Submit review", class: "style-btn-form" %>
  <% end %>
</div>
